.App {
  text-align: center;
}

.App-header {
    background-color: lavender;
    font-size: calc(11px + 2vmin);

}

.Top-content-bar {
  display: flex;
  flex-direction: row;
}

.ContentCopy {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-right: auto;
  justify-content: center;
}

.Drivers {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
  width: 50%;
  margin-left: auto;
}

.App-link {
  color: #61dafb;
}

svg {
  margin: 10;
}

p {
  margin: 10;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
    display: block;
    text-align: center;
    padding: 5px;
    margin-right: 10px;
}

div {
    margin: 15px;
    border: 2px solid lightgray;
}
