.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

svg {
  margin: 10;
}

p {
  margin: 10;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
    display: block;
    text-align: center;
    padding: 5px;
    margin-right: 10px;
}

div {
    margin: 15px;
    border: 2px solid lightgray;
}
